body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    /* background-image: url(../product/farm3.jpg) ; */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../product/farm4.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    text-align: center;
    color: #333;
}

.milk {
    color: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
select,
textarea,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    max-width: 100px;
    /* Adjust the max-width as needed */
}

.footer-text {
    font-size: 18px;
}

.social-icons {
    font-size: 24px;
}

.social-icons a {
    color: #ffffff;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #28a745;
    /* Change the color on hover */
}